/**************************************
 * Syntax headlighter for python kode
 * @author Per-Henrik Kvalnes
 **************************************/
pre
{
    font-family:sans-serif;
    font-size:14px;
}

pre key
{
	color:#061;
}


pre number
{
    color:#01A;
}

/** style strings **/
pre string
{
    color:#A00!important;
}
pre string key
{
    color:#A00!important;
}
pre string number
{
    color:#A00;
}
pre literal
{
    color:#550;
}

pre comment
{
    color:#666;
}
